<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />

  <!-- Bootstrap is bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Stylesheets -->
  <link rel=stylesheet type=text/css href="{{url_for('static', filename='css/style.css') }}">

  <!-- React and React-Dom are needed for the javascript to display the view -->
  <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>

  <!-- Babel converts JSX syntax to react based javascript -->
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

  <!-- Scripts -->
  <script src="{{url_for('static', filename='js/webcam.js')}}" type="text/javascript"></script>

</head>
<body>
  <div id="mainthing">You should not see this</div>
  <script src="{{url_for('static', filename='js/appcontroller.js')}}" type="text/babel"></script>
  <video autoplay="true" id="video-webcam">

  </video>
</body>
</html>
