<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <!-- Bootstrap is bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- React and React-Dom are needed for the javascript to display the view -->
  <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>

  <!-- Babel converts JSX syntax to react based javascript -->
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>
<body>
  <div id="mainthing">You should not see this</div>
  <script src="{{url_for('static', filename='appcontroller.js')}}" type="text/babel"></script>
</body>
</html>
